body {
    background-image: url("images/theflash2.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    overflow: hidden;
    height: 100vh;
    width: 100vh;

}
.racegroup {
    position: absolute;
    left: 0;
    bottom: 10vh;
    transition: left .5s;  
}
#vs-button {
    position: absolute;
    left: 42%;
}
.winner {
    bottom: 20vh;
    left: 40vw !important;
    width: 30vw !important;   
}
